---
import Title from '../components/Title.astro';
import Preview from '../components/Preview.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Description from '../components/Description.astro';
import Footer from '../components/Footer.astro';
---

<DefaultLayout title='ayuda concho'>
  <div class='container-section'>
    <section class='section-1'>
      <Title />
      <Description />

      <div class='md:hidden block'>
        <Footer />
      </div>
    </section>

    <section class='section-2'>
      <Preview />

      <div class='hidden md:block'>
        <Footer />
      </div>
    </section>
  </div>
</DefaultLayout>

<style>
  body {
    @apply flex justify-center items-center h-screen bg-no-repeat bg-left-bottom bg-fixed md:block md:bg-contain;
    background-image: url('../../public/svg/triangle.svg');
  }

  .container-section {
    @apply grid grid-cols-3 md:block;
  }

  .section-1 {
    @apply col-span-2;
  }

  .section-2 {
    @apply col-span-1;
  }
</style>
