<div class='max-w-4xl mx-auto p-4 bg-white shadow-md rounded-lg'>
  <p class='text-right text-sm text-gray-500'>Actualizado el 2023-07-03</p>

  <h1 class='text-2xl font-bold mt-4'>Política de Privacidad</h1>

  <p class='mt-2'>
    ayuda concho ("nosotros", "nuestro" o "nos") se compromete a proteger su privacidad. Esta
    Política de privacidad explica cómo ayuda concho recopila, usa y divulga su información
    personal.
  </p>

  <p class='mt-2'>
    Esta Política de privacidad se aplica a nuestro sitio web, y sus subdominios asociados
    (colectivamente, nuestro "Servicio") junto con nuestra aplicación, ayuda concho. Al acceder
    o utilizar nuestro Servicio, usted indica que ha leído, comprendido y aceptado nuestra
    recopilación, almacenamiento, uso y divulgación de su información personal como se describe
    en esta Política de privacidad y en nuestros Términos de servicio.
  </p>

  <hr class='my-6' />

  <h2 class='text-xl font-semibold mt-4'>Definiciones y Términos Clave</h2>

  <p class='mt-2'>
    Para ayudar a explicar las cosas de la manera más clara posible en esta Política de
    privacidad, cada vez que se hace referencia a cualquiera de estos términos, se definen
    estrictamente como:
  </p>

  <ul class='list-disc list-inside mt-2 space-y-2'>
    <li>
      <strong>Cookie:</strong> pequeña cantidad de datos generados por un sitio web y guardados
      por su navegador web. Se utiliza para identificar su navegador, proporcionar análisis, recordar
      información sobre usted, como su preferencia de idioma o información de inicio de sesión.
    </li>
    <li>
      <strong>Compañía:</strong> cuando esta política menciona "Compañía", "nosotros", "nos" o "nuestro",
      se refiere a ayuda concho, que es responsable de su información en virtud de esta Política
      de privacidad.
    </li>
    <li>
      <strong>Plataforma:</strong> sitio web de Internet, aplicación web o aplicación digital de
      cara al público de ayuda concho.
    </li>
    <li>
      <strong>País:</strong> donde se encuentra ayuda concho o los propietarios / fundadores de
      ayuda concho, en este caso es DO.
    </li>
    <li>
      <strong>Cliente:</strong> se refiere a la empresa, organización o persona que se registra
      para utilizar el Servicio ayuda concho para gestionar las relaciones con sus consumidores
      o usuarios del servicio.
    </li>
    <li>
      <strong>Dispositivo:</strong> cualquier dispositivo conectado a Internet, como un teléfono,
      tablet, computadora o cualquier otro dispositivo que se pueda usar para visitar ayuda concho
      y usar los servicios.
    </li>
    <li>
      <strong>Dirección IP:</strong> a cada dispositivo conectado a Internet se le asigna un número
      conocido como dirección de protocolo de Internet (IP). Estos números generalmente se asignan
      en bloques geográficos. A menudo, se puede utilizar una dirección IP para identificar la ubicación
      desde la que un dispositivo se conecta a Internet.
    </li>
    <li>
      <strong>Personal:</strong> se refiere a aquellas personas que son empleadas por ayuda concho
      o están bajo contrato para realizar un servicio en nombre de una de las partes.
    </li>
    <li>
      <strong>Datos personales:</strong> cualquier información que directa, indirectamente o en
      conexión con otra información, incluido un número de identificación personal, permita la identificación
      de una persona física.
    </li>
    <li>
      <strong>Servicio:</strong> se refiere al servicio brindado por ayuda concho como se describe
      en los términos relativos (si están disponibles) y en esta plataforma.
    </li>
    <li>
      <strong>Terceros:</strong> se refiere a anunciantes, patrocinadores de concursos, socios promocionales
      y de marketing, y otros que brindan nuestro contenido o cuyos productos o servicios que creemos
      que pueden interesarle.
    </li>
    <li>
      <strong>Sitio web:</strong> el sitio de ayuda concho, al que se puede acceder a través de
      esta URL:
    </li>
    <li>
      <strong>Usted:</strong> una persona o entidad que está registrada con ayuda concho para utilizar
      los Servicios.
    </li>
  </ul>

  <hr class='my-6' />

  <h2 class='text-xl font-semibold mt-4'>Información recopilada automáticamente</h2>

  <p class='mt-2'>
    Existe cierta información como su dirección de Protocolo de Internet (IP) y / o las
    características del navegador y del dispositivo, que se recopila automáticamente cuando
    visita nuestra plataforma. Esta información se puede utilizar para conectar su computadora
    a Internet. Otra información recopilada automáticamente podría ser un inicio de sesión,
    dirección de correo electrónico, contraseña, información de la computadora y la conexión,
    como los tipos y versiones de complementos del navegador y la configuración de la zona
    horaria, los sistemas operativos y las plataformas, el historial de compras (a veces
    agregamos información similar de otros usuarios), el flujo de clics completo del
    Localizador uniforme de recursos (URL) hacia, a través y desde nuestro sitio web que puede
    incluir la fecha y la hora; número de cookie; partes del sitio que vio o buscó; y el número
    de teléfono que utilizó para llamar a nuestro Servicio de atención al cliente. También
    podemos utilizar datos del navegador como cookies, cookies Flash (también conocidas como
    objetos compartidos locales Flash) o datos similares en ciertas partes de nuestro sitio web
    para la prevención del fraude y otros fines. Durante sus visitas, podemos utilizar
    herramientas de software como JavaScript para medir y recopilar información de la sesión,
    incluidos los tiempos de respuesta de la página, los errores de descarga, la duración de
    las visitas a determinadas páginas, la información de interacción de la página (como el
    desplazamiento, los clics y el desplazamiento del mouse) y métodos utilizados para navegar
    fuera de la página. También podemos recopilar información técnica para ayudarnos a
    identificar su dispositivo con fines de prevención y diagnóstico de fraude.
  </p>

  <p class='mt-2'>
    Recopilamos automáticamente cierta información cuando visita, usa o navega por la
    plataforma. Esta información no revela su identidad específica (como su nombre o
    información de contacto), pero puede incluir información de uso y dispositivo, como su
    dirección IP, navegador y características del dispositivo, sistema operativo, preferencias
    de idioma, URL de referencia, nombre del dispositivo, país, ubicación. , información sobre
    quién y cuándo utiliza nuestra información y otra información técnica. Esta información es
    principalmente necesaria para mantener la seguridad y el funcionamiento de nuestra
    plataforma, y para nuestros fines de análisis e informes internos.
  </p>

  <hr class='my-6' />

  <h2 class='text-xl font-semibold mt-4'>Venta de Negocio</h2>

  <p class='mt-2'>
    Nos reservamos el derecho de transferir información a un tercero en el caso de una venta,
    fusión u otra transferencia de todos o sustancialmente todos los activos de ayuda concho o
    cualquiera de sus afiliadas corporativas (como se define en este documento), o la porción
    de ayuda concho o cualquiera de sus Afiliadas corporativas con las que se relaciona el
    Servicio, o en el caso de que discontinuemos nuestro negocio o presentemos una petición o
    hayamos presentado una petición contra nosotros en caso de quiebra, reorganización o
    procedimiento similar, siempre que el el tercero acepte adherirse a los términos de esta
    Política de privacidad.
  </p>

  <hr class='my-6' />

  <h2 class='text-xl font-semibold mt-4'>Afiliados</h2>

  <p class='mt-2'>
    Podemos divulgar información (incluida la información personal) sobre usted a nuestros
    afiliados corporativos. Para los propósitos de esta Política de Privacidad, "Afiliado
    Corporativo" significa cualquier persona o entidad que directa o indirectamente controla,
    está controlada por o está bajo control común con ayuda concho, ya sea por propiedad o de
    otra manera. Cualquier información relacionada con usted que proporcionemos a nuestros
    afiliados corporativos será tratada por dichos afiliados corporativos de acuerdo con los
    términos de esta política de privacidad.
  </p>

  <hr class='my-6' />

  <h2 class='text-xl font-semibold mt-4'>Ley que Rige</h2>

  <p class='mt-2'>
    Esta Política de privacidad se rige por las leyes de DO sin tener en cuenta su disposición
    sobre conflicto de leyes. Usted acepta la jurisdicción exclusiva de los tribunales en
    relación con cualquier acción o disputa que surja entre las partes en virtud de esta
    Política de privacidad o en relación con ella, excepto aquellas personas que puedan tener
    derecho a presentar reclamaciones en virtud del Escudo de privacidad o el marco
    suizo-estadounidense.
  </p>

  <p class='mt-2'>
    Las leyes de DO, excluyendo sus conflictos de leyes, regirán este Acuerdo y su uso de la
    plataforma. Su uso de la plataforma también puede estar sujeto a otras leyes locales,
    estatales, nacionales o internacionales.
  </p>

  <p class='mt-2'>
    Al usar ayuda concho o comunicarse con nosotros directamente, significa que acepta esta
    Política de privacidad. Si no está de acuerdo con esta Política de privacidad, no debe
    interactuar con nuestro sitio web ni utilizar nuestros servicios. El uso continuo del sitio
    web, la interacción directa con nosotros o después de la publicación de cambios en esta
    Política de privacidad que no afecten significativamente el uso o divulgación de su
    información personal significará que acepta esos cambios.
  </p>

  <hr class='my-6' />

  <h2 class='text-xl font-semibold mt-4'>Contacto</h2>

  <p class='mt-2'>
    Si tiene preguntas o inquietudes sobre esta Política de privacidad, no dude en contactarnos
    a través de:
  </p>

  <p class='mt-2'>
    <strong>Correo electrónico:</strong> support@ayudaconcho.com<br />
    <strong>Teléfono:</strong> +1 (555) 123-4567<br />
    <strong>Dirección:</strong> Calle Ejemplo #123, Ciudad, País.
  </p>
</div>
