---
import BtnGroup from './BtnGroup.astro';
---

<section>
  <p>
    <span> ¡Basta de pagar transportes más caros por no encontrar el concho indicado! </span>
    <br />
    <br />
    <span>
      La primera app de conchos en República Dominicana. ¡Viaja de manera fácil y conveniente
      con nuestra aplicación de conchos! Obtén acceso rápido y seguro a una amplia red de
      conchos, el medio de transporte más popular en la ciudad.
    </span>
  </p>

  <BtnGroup />
</section>

<style>
  section {
    @apply mt-10 m-auto w-10/12;
  }

  p {
    @apply font-medium text-wild-sand-900 text-2xl md:text-xl md:text-center;
  }
</style>
