---
import { Image } from 'astro:assets';

const imageInfo = {
  alt: 'preview',
  size: 300,
};
---

<div class='container'>
  <div class='preview'></div>
</div>

<style>
  .container {
    @apply flex justify-center items-center w-full h-full m-auto py-5;
  }

  .preview {
    @apply w-full bg-no-repeat bg-contain h-[45rem] bg-center;
    background-image: url('./images/phone-preview.png');

    @screen md {
      background-image: url('./images/phone-preview-responsive.png');
    }
  }
</style>
